.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
}

header {
    grid-area: header;
    text-align: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "content" "sidebar";
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-areas: "header" "main" "footer";
        grid-template-rows: 80px 1fr 80px;
        grid-template-columns: 1fr;
    }
    main {
        grid-area: main;
        display: grid;
        grid-template-areas: "content" "sidebar";
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
    
}